

#main-header{
    background: #000;
}

#main-header blockquote{
    color: #999;
}

#newsletter{
    background-color: rgba(100,100,100,0.5);
}
#logo{
    padding-top: 0; /*reset*/
}

#logo img{
    max-width: 185px;
}

#lower-header{
    background-color: #000;
}

#lower-header:before{
    border: none;
}

#navigation>li {
    border-right: none;
    background: rgba(0,0,0,0.7);
}

#navigation>li >a{
    color: #fff;
}

#main-footer, #lower-footer{
    background-color: #000;
}

#main-footer p {
    color: #999;
}

.copyright {
    color: #999;
}

@media screen and (max-width: 768px){
    #logo img{
    }
}