

#main-header{
    background: #000;
}

#main-header blockquote{
    color: #999;
}

#newsletter{
    background-color: rgba(100,100,100,0.5);
}
#logo{
    padding-top: 0; /*reset*/
}

#logo img{
    max-width: 185px;
}

#lower-header{
    background-color: #000;
    color: #ddd;
}

@media (max-width: 991px){
    #menu-button>div>span {
        background-color: #ddd;
    }
}
#lower-header:before{
    border: none;
}

#navigation>li {
    border: none;
    background: rgba(0,0,0,0.7);
}

#navigation>li:first-child{
	border-left:none;
}

#navigation>li:last-child{
	border-right:none;
}

#navigation>li >a{
    color: #fff;
}

#navigation>li>a, #navigation>li>span {
    border-top: none;
    border-bottom: none;
}

.tab-header ul{
    text-align: center;
}

.yellow-banner{
    background: #FFF176;
}

.banner:hover{
    background: #333;
}

.yellow-banner p{
    color: #ffc30d;
}

.yellow-banner .icons{
    color: #FDD835;
}

.yellow-banner h4{
    color: #FFCA28;
}

.green-banner{
    background: #A5D6A7;
}

.green-banner p{
    color: #43A047;
}

.green-banner .icons{
    color: #81C784;
}

.green-banner h4{
    color: #2E7D32;
}


.payment-response{
    width: 125px;
}

#main-footer, #lower-footer{
    background-color: #000;
}

#lower-footer{
    border-top-color: #999;
}

#main-footer p {
    color: #999;
}

.copyright {
    color: #999;
}

@media screen and (max-width: 768px){
    
}